[submodule "vendor/html5-boilerplate"]
	path = vendor/html5-boilerplate
	url = git://github.com/paulirish/html5-boilerplate.git
[submodule "vendor/davis.js"]
	path = vendor/davis.js
	url = git://github.com/olivernn/davis.js.git
[submodule "vendor/backbone"]
	path = vendor/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/documentcloud/underscore.git
