<article>
  <h2>About me</h2>
  <p>Hi! I'm Félix Bellanger (obviously).</p>
  
  <p>I was recently still a student but I didn’t really find the time to work on the different projects I was involved in, so I decided to drop out from college to fully focus on getting things done. I've been self-learning computer/web programming since the age of 13 (I’m currently 21). I'm specialized in web and mobile application development , but I also do software stuff from time to time (see <a href=\"http://github.com/Keeguon/Sudoku\" target=\"_blank\">here</a> for example).</p>
  
  <p>I've worked a bit with the <a href=\"http://www.compiz.org/\" target=\"_blank\">Compiz</a> team back in 2007, and was in charge of the compiz-icon project (see <a href=\"http://git.compiz.org/~keeguon/compiz-icon/\" target=\"_blank\">repository</a>). I'm passionate about the social web and currently involved in different projects in that area.</p><p>I'm really interested in cutting edge web technologies such as HTML5, NoSQL databases and lately I've been lurking a lot at <a href=\"http://nodejs.org/\" target=\"_blank\">Node.js</a> (and I will probably get into it as soon as I'll have some more time to myself).</p>
  
  <p>I live around Paris if you must know (also grew up there by the way). I'm very excited by the emerging French startup scene that seems to be taking more and more importance thanks to organizations like &laquo; <a href=\"http://siliconsentier.org/\" target=\"_blank\">Silicon Sentier</a> &raquo; and other great initiatives taken to foster creativity and leverage networks for a better tech scene in France.</p>
</article>

<hr />

