<!-- Content for -->
<% content_for :title do @page.name end %>
<% content_for :description do "Stuffs about my life and my work" end %>

<article>
  <h2><%= @page.title %></h2>
  <%= @page.content %>
</article>

<hr />

